<div class="container">
    <div class="header">
        <h1>Resultados</h1>
        <button type="button" (click)="close()">X</button>
    </div>
    <div class="linearRegression">
        <h2>Regresión linear</h2>
        <div class="data1">
            <h3>data 1: </h3>
            <p>B1: {{B1_data1}}</p>
            <p>B0: {{B0_data1}}</p>
            <p>YK: {{YK_data1}}</p>
        </div>
        <div class="data2">
            <h3>data 2: </h3>
            <p>B1: {{B1_data2}}</p>
            <p>B0: {{B0_data2}}</p>
            <p>YK: {{YK_data2}}</p>
        </div>
        <div class="data3">
            <h3>data 3: </h3>
            <p>B1: {{B1_data3}}</p>
            <p>B0: {{B0_data3}}</p>
            <p>YK: {{YK_data3}}</p>
        </div>
        <div class="data4">
            <h3>data 4: </h3>
            <p>B1: {{B1_data4}}</p>
            <p>B0: {{B0_data4}}</p>
            <p>YK: {{YK_data4}}</p>
        </div>
    </div>
    <div class="correlation">
        <h2>Correlación</h2>
        <div class="data1">
            <h3>data 1: </h3>
            <p>B1: {{r_data1}}</p>
            <p>B0: {{rr_data1}}</p>
        </div>
        <div class="data2">
            <h3>data 2: </h3>
            <p>B1: {{r_data2}}</p>
            <p>B0: {{rr_data2}}</p>
        </div>
        <div class="data3">
            <h3>data 3: </h3>
            <p>B1: {{r_data3}}</p>
            <p>B0: {{rr_data3}}</p>
        </div>
        <div class="data4">
            <h3>data 4: </h3>
            <p>B1: {{r_data4}}</p>
            <p>B0: {{rr_data4}}</p>
        </div>
    </div>   
</div>