<div class="a3Container">
    <div class="header">
        <h1>Resultados</h1>
        <button type="button" id="closeA3" (click)="close()">X</button>
    </div>
    <div class="linearRegression">
        <h2>Regresión linear</h2>
        <div class="data1">
            <h3>data 1: </h3>
            <p id="LRData1">B1: {{B1_data1}}</p>
            <p id="LRData1">B0: {{B0_data1}}</p>
            <p id="LRData1">YK: {{YK_data1}}</p>
        </div>
        <div class="data2">
            <h3>data 2: </h3>
            <p id="LRData2">B1: {{B1_data2}}</p>
            <p id="LRData2">B0: {{B0_data2}}</p>
            <p id="LRData2">YK: {{YK_data2}}</p>
        </div>
        <div class="data3">
            <h3>data 3: </h3>
            <p id="LRData3">B1: {{B1_data3}}</p>
            <p id="LRData3">B0: {{B0_data3}}</p>
            <p id="LRData3">YK: {{YK_data3}}</p>
        </div>
        <div class="data4">
            <h3>data 4: </h3>
            <p id="LRData4">B1: {{B1_data4}}</p>
            <p id="LRData4">B0: {{B0_data4}}</p>
            <p id="LRData4">YK: {{YK_data4}}</p>
        </div>
    </div>
    <div class="correlation">
        <h2>Correlación</h2>
        <div class="data1">
            <h3>data 1: </h3>
            <p id="correlationData1">r: {{r_data1}}</p>
            <p id="correlationData1">rr: {{rr_data1}}</p>
        </div>
        <div class="data2">
            <h3>data 2: </h3>
            <p id="correlationData2">r: {{r_data2}}</p>
            <p id="correlationData2">rr: {{rr_data2}}</p>
        </div>
        <div class="data3">
            <h3>data 3: </h3>
            <p id="correlationData3">r: {{r_data3}}</p>
            <p id="correlationData3">rr: {{rr_data3}}</p>
        </div>
        <div class="data4">
            <h3>data 4: </h3>
            <p id="correlationData4">r: {{r_data4}}</p>
            <p id="correlationData4">rr: {{rr_data4}}</p>
        </div>
    </div>   
</div>