<div class="a5Container">
    <div class="header">
        <h1>Resultados</h1>
        <button type="button" id="closeA5" (click)="close()">X</button>
    </div>
    <div class="form">
        <form>
            <div class="input">
                <div class="common">
                    <label for="x0">x0</label>
                    <input id="x0Input" [(ngModel)]="x0" name="x0" class="operator x0" type="number" placeholder="0.0">

                    <label for="num_seg" id="numSegLabel">Num-seg</label>
                    <input id="numSegInput" [(ngModel)]="num_seg" name="num_seg" class="operator num_seg" type="number" placeholder="0">

                    <div class="cut"></div>

                    <label for="x1">x1</label>
                    <input id="x1Input" [(ngModel)]="x1" name="x1" class="operator x1" type="number" placeholder="0.0">

                    <label for="Error" id="errorLabel">Error</label>
                    <input id="errorInput" [(ngModel)]="Error" name="Error" class="operator Error" type="number" placeholder="0.0">
                </div>

                <div class="radio">
                    <label for="function">Función:</label><br>

                    <label for="function">2x</label>
                    <input type="radio" [(ngModel)]="function" id="2xRadio" name="function" value="2x" (change)="disabled()"><br>
                    
                    <label for="function">x^2</label>
                    <input type="radio" [(ngModel)]="function" id="x2Radio" name="function" value="x2" (change)="disabled()"><br>

                    <label for="function">1/x</label>
                    <input type="radio" [(ngModel)]="function" id="1_xRadio" name="function" value="1_x" (change)="disabled()"><br>

                    <label for="function">T-student</label>
                    <input type="radio" [(ngModel)]="function" id="TsRadio" name="function" value="t_student" (change)="disabled()"><br>
                </div>

                <div class="dof">
                    <label for="dof">DOF</label>
                    <input id="dofInput" [(ngModel)]="dof" name="dof" class="operator dof" type="number" placeholder="0" disabled>
                </div>
            </div>
            <div class="button">
                <button type="button" id="process" (click)="realizeFunction()">Realizar</button>
            </div>
        </form>
        
    </div>
    <div class="result">
        <h2>Resultado: </h2>
        <div class="resultContainer">
            <span class="TYPE">Función: </span>
            <span id="typeSpan">{{ type }}</span><br>

            <span class="RESULT">Resultado: </span>
            <span id="resultSpan">{{ result }}</span><br>

            <span class="ERROR">Error: </span>
            <span id="errorSpan">{{ err }}</span>
        </div>
    </div>
</div>
